<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <a href="/admin">Admin</a>
        <a href="/admin/add-project">Add Project</a>
        <a class="home-link" href="/">Home</a>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </header>
    <% if (projects.length > 0) { %>
        <div class="grid">
            <% for (let project of projects) { %>
            <article class="card proj__card">
                <div class="card__order">
                    <h2><%= project.order %></h2>
                </div>
                <div class="card__title">
                    <b><%= project.title %></b>
                </div>
                <div class="card__image">
                    <h5><%= project.image %></h5>
                </div>
                <div class="card__description">
                    <h5><%= project.description %></h5>
                </div>
                <div class="card__actions">
                    <a href="/admin/edit-project/<%= project.id %>?edit=true" class="btn">Edit</a>
                    <br><br/>
                    <form action="/admin/delete-project" method="POST">
                        <input type="hidden" value="<%= project.id %>" name="projectId">
                        <button class="btn" type="submit">Delete</button>                    
                    </form>
                </div>
            </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Projects Found!</h1>
    <% } %>
</body>
</html>